# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.spec
*.egg

# Virtual environment
venv/
env/
.env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# PyInstaller
*.exe
output/

# Inno Setup
installer/Output/

# OS
Thumbs.db
Desktop.ini
.DS_Store